@import url('https://fonts.googleapis.com/css?family=Raleway');


.form-container {
    object-fit: cover;
}

.form-container__portada {
    position: fixed;
    top: 0;
    left: 0;
    width: 52%;
    height: 100%;
}

.form-container__FondoAbout {
    position: fixed;
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "Neoneon";
    src: url(../../FuentesDeLetras/Neoneon.otf);
    font-weight: bold;
    font-style: normal; /* Cambiado a normal */
}

:root {
    --easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.form-container__h1 {
    position: absolute;
    top: -40px;
    right: 5px;
    font-family: "Neoneon";
    text-transform: uppercase; /* Corrección en la propiedad */
    text-align: center; /* Alineación al centro */
    font-size: 5.8em; /* Corrección en el valor del tamaño de fuente */
    color: rgb(255, 255, 255);
    animation: neonGlow 2s infinite alternate var(--easeInOutQuad);
}

@keyframes neonGlow {

    0% {
        text-shadow:
            0 0 10px rgba(255, 255, 255, .8),
            0 0 20px rgba(255, 255, 255, .8),
            0 0 22px rgba(255, 255, 255, .8),
            0 0 40px rgba(66, 220, 219, .8),
            0 0 60px rgba(66, 220, 219, .8),
            0 0 80px rgba(66, 220, 219, .5),
            0 0 100px rgba(66, 220, 219, .5),
            0 0 140px rgba(66, 220, 219, .5),
            0 0 200px rgba(66, 220, 219, .5);
    }

    /* 100% {
        text-shadow:
            0 0 2px rgba(255, 255, 255, .8),
            0 0 8px rgba(255, 255, 255, .8),
            0 0 10px rgba(255, 255, 255, .8),
            0 0 20px rgba(66, 220, 219, .8),
            0 0 30px rgba(66, 220, 219, .8),
            0 0 40px rgba(66, 220, 219, .8),
            0 0 50px rgba(66, 220, 219, .5),
            0 0 80px rgba(66, 220, 219, .5);
    } */

    /* 0% {
        text-shadow:
        0 0 10px rgba(255, 255, 255, .8),
        0 0 20px rgba(255, 255, 255, .8),
        0 0 22px rgba(255, 255, 255, .8),
        0 0 40px rgb(68, 248, 20 , .8),
        0 0 60px rgb(68, 248, 20 , .8),
        0 0 80px rgba(55, 255, 0, 0.5),
        0 0 100px rgba(55, 255, 0, 0.5),
        0 0 140px rgba(55, 255, 0, 0.5),
        0 0 200px rgba(55, 255, 0, 0.5);
    } */

    100% {
        text-shadow:
            0 0 2px rgba(255, 255, 255, .8),
            0 0 8px rgba(255, 255, 255, .8),
            0 0 10px rgba(255, 255, 255, .8),
            0 0 20px rgb(68, 248, 20 , .8),
            0 0 30px rgb(68, 248, 20 , .8),
            0 0 40px rgb(68, 248, 20 , .8),
            0 0 50px rgba(55, 255, 0, 0.5),
            0 0 80px rgba(55, 255, 0, 0.5);
    }

    /* 0% {
        text-shadow:
            0 0 10px rgb(255, 0, 64),
            0 0 20px rgb(255, 0, 64),
            0 0 22px rgb(255, 0, 64),
            0 0 40px rgb(216, 36, 82, .9),
            0 0 60px rgb(216, 36, 82, .9),
            0 0 80px rgb(216, 36, 82, .8),
            0 0 100px rgb(216, 36, 82, .8),
            0 0 140px rgb(216, 36, 82, .8),
            0 0 200px rgb(216, 36, 82, .8);
    } */

    /* 100% {
        text-shadow:
            0 0 2px rgb(216, 185, 205),
            0 0 8px rgb(216, 185, 205),
            0 0 10px rgb(216, 185, 205),
            0 0 20px rgb(255, 0, 64),
            0 0 30px rgb(255, 0, 64),
            0 0 40px rgb(255, 0, 64),
            0 0 50px rgb(216, 36, 82, .5),
            0 0 80px rgb(216, 36, 82, .5);
    } */

}

/*----------------------------------------------------------------------------------------------------------------------------------------*/


.form-container__form{
    position: absolute;
    color: white;
    top: 200px;
    right: 150px;
    border: 0.4rem solid rgb(255, 0, 64);
    border-radius: 2rem;
    width: 400px;
    height: 400px;
    animation: border-flicker 2s linear infinite;
}


/*----------------------------------------------------------------------------------------------------------------------------*/


.form-container__form__h2{
    
    margin-top: 15px;
    padding-left: 142px;
    font-size: 40px;
    font-family: "Neoneon";
    text-transform: uppercase;
}

#offset {
    animation: letter-flicker 2s linear infinite;
}


   @keyframes border-flicker {
    0% {
      opacity:0.1;
      -webkit-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  -moz-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
    }
    2% {
      opacity:1;
      -webkit-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  -moz-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
    }
    4% {
      opacity:0.1;
      -webkit-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  -moz-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
    }
    
    8% {
      opacity:1;
      -webkit-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  -moz-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
    }
    70% {
      opacity:0.7;
      -webkit-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  -moz-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
    }
    100% {
      opacity:1;
      -webkit-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  -moz-box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
  box-shadow: 0px 0px 78px 4px rgb(255, 0, 64 ,0.73);
    }
  }
  

/*----------------------------------------------------------------------------------------------------------------------------------------*/

.form-container__form__container-email{
    width: 300px;
    height: 80px;
    max-width: 400px;
    position: relative;
    top: -50px;
    left: 50px;
    overflow: hidden;
}

.form-container__form__container-email input{
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 28px;
    font-size: 18px;
    border: none;
    outline: 0px;
}

.form-container__form__container-email .form-container__form__container-email__label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.form-container__form__container-email .form-container__form__container-email__label:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgb(255, 0, 64);
    transform: translateX(-200%);
    transition: all 0.3s ease;
}

.form-container__form__container-email__label__span{
    position: absolute;
    bottom: 5px;
    left: 0px ;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255, 0.5);
}

.form-container__form__container-email input:focus + 
.form-container__form__container-email__label .form-container__form__container-email__label__span,
.form-container__form__container-email input:valid + 
.form-container__form__container-email__label .form-container__form__container-email__label__span{
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(255, 0, 64) ;
}


.form-container__form__container-email input:focus + 
.form-container__form__container-email__label:after,
.form-container__form__container-email input:valid + 
.form-container__form__container-email__label:after{

    transform: translateX(0%);
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*Password*/

.form-container__form__container-password{
    width: 300px;
    height: 80px;
    max-width: 400px;
    position: relative;
    top: -40px;
    left: 50px;
    overflow: hidden;
}

.form-container__form__container-password input{
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 28px;
    font-size: 18px;
    border: none;
    outline: 0px;
}

.form-container__form__container-password .form-container__form__container-password__label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.form-container__form__container-password .form-container__form__container-password__label:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid rgb(255, 0, 64);
    transform: translateX(-200%);
    transition: all 0.3s ease;
}

.form-container__form__container-password__label__span{
    position: absolute;
    bottom: 5px;
    left: 0px ;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255, 0.5);
}

.form-container__form__container-password input:focus + 
.form-container__form__container-password__label .form-container__form__container-password__label__span,
.form-container__form__container-password input:valid + 
.form-container__form__container-password__label .form-container__form__container-password__label__span{
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(255, 0, 64) ;
}


.form-container__form__container-password input:focus + 
.form-container__form__container-password__label:after,
.form-container__form__container-password input:valid + 
.form-container__form__container-password__label:after{

    transform: translateX(0%);
}


/*----------------------------------------------------------------------------------------------------------------------------------------*/

.danger{
    margin-top: -25px;
    padding-left: 50px;
}


.form-container__form__button{
    position: absolute;
    margin-left: 145px;
    margin-top: -10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}


.form-container__form__button:enabled {
    background-color: rgb(255, 0, 64); /* Cambia el color de fondo cuando esté habilitado */
    color: white; /* Cambia el color del texto cuando esté habilitado */
    cursor: pointer; /* Cambia el cursor a una mano cuando esté habilitado */
  }























